{% extends 'base.html' %}
{% load static %}
{% block title %}Контакты - Туры Wanderlust{% endblock %}
{% block content %}
<h2 class="text-3xl font-bold mb-4 text-center">{{ page.headline|default:"Свяжитесь с нами" }}</h2>
<p class="text-center mb-4">{{ page.description|default:"Мы здесь, чтобы помочь вам спланировать поездку." }}</p>
{% if page.banner_image %}
    <img src="{% static 'images/'|add:page.banner_image %}" alt="Баннер контактов" class="banner mx-auto mb-4">
{% endif %}
<div class="text-center">
    <a href="{% url 'agency:home' %}" class="inline-block bg-blue-600 text-white px-6 py-3 rounded hover:bg-blue-700">Вернуться на главную</a>
</div>
{% endblock %}